<!-- add-category.ejs -->

<%- include('../includesAdmin/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includesAdmin/navigation.ejs') %>

    <main>
        <h1>Add Category</h1>
        <form action="/admin/add-category" method="POST">
            <input type="text" name="categoryName" placeholder="Category Name" required>
            <button type="submit">Add Category</button>
        </form>
    </main>

    <%- include('../includesAdmin/end.ejs') %>
